.comingsoon {
  .container {
    position: relative;
  }
  &__title {
    @include text(700, 24px, 32px, 0.005em, #f9f9f9, "");
  }
  &__wrp {
    margin: 24px 0 0 0;
    overflow: hidden;
  }
  &__wrapper {
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 3s;
  }
  &__wrapper-item {
    display: block;
    position: relative;
    padding-right: 15px;
  }
  &__wrapper-item img {
    max-width: 270px;
    border-radius: 12px;
    filter: brightness(80%);
  }
  &__wrapper-item:hover img {
    filter: brightness(100%);
  }
  &__wrapper-title {
    @include text(700, 24px, 24px, 0.005em, #f9f9f9, "");
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 44px;
    transform: translate(-50%, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
      0 0 0.2em rgb(0, 0, 0);
  }
  &__wrapper-genres {
    @include text(600, 14px, 20px, 0.005em, #f9f9f9, "");
    width: 80%;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
      0 0 0.2em rgb(0, 0, 0);
  }
  &__button-prev {
    @include btn(pointer, absolute, 4%, "", 50%, 5, 32px, 32px);
  }
  &__button-next {
    @include btn(pointer, absolute, "", 5%, 50%, 5, 32px, 32px);
  }
}
