@mixin text($fw, $fs, $lh, $ls, $c, $ta) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
  color: $c;
  text-align: $ta;
}
@mixin btn($c, $p, $l, $r, $t, $z, $w, $h) {
  cursor: $c;
  position: $p;
  left: $l;
  right: $r;
  top: $t;
  z-index: $z;
  width: $w;
  height: $h;
}
